<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    <div class="container content">
      <header class="masthead">
        <h1 class="masthead-title">
          <a href="{{ site.baseurl }}/" title="Home">< {{ site.title }} ></a>
          <small>{{ site.tagline }}</small>
        </h1>
      </header>

      <nav class="menu move-down">
        <ul>
          <li><a href="{{ site.baseurl }}/"><i class="icon-newspaper mobile"></i>Blog</a></li>
          <li><a href="{{ site.baseurl }}/progress-page"><i class="icon-chart-line mobile disabled"></i>Current Projects</a></li>
          <li><a href="{{ site.baseurl }}/Udacity-HTML5-CSS3-Final/"><i class="icon-picture mobile disabled"></i>Portfolio</a></li>
          <li><a href="{{ site.baseurl }}/about/"><i class="icon-user mobile"></i>About</a></li>
        </ul>
      </nav>

      <!-- <ul class="related-posts">
      	{% for post in site.posts limit:5 %}
      	   <li>
      		   <span>{{ post.date | date_to_string }}</span> &raquo;
      		   <a href="{{ BASE_PATH }}{{ post.url }}">
      		   {{ post.title }}</a>
      	   </li>
      	{% endfor %}
      </ul> -->

      <main>
        {{ content }}
        <hr>
        {% if page.date == "" or page.date == nil %}
          {% if page.url != "/about/"}
            {% include pagination.html %}
          {% endif %}
        {% endif %}
      </main>

      <footer class="footer">
      </footer>
    </div>
  </body>
</html>
