<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    <div class="container content">
      <header class="masthead">
        <h1 class="masthead-title">
          <a href="{{ site.baseurl }}/" title="Home">< {{ site.title }} ></a>
          <small>{{ site.tagline }}</small>
        </h1>
      </header>

      <nav class="menu move-down">
        <ul class center-block>
          <li><a href="{{ site.baseurl }}/"><i class="icon-newspaper mobile"></i>Blog</a></li>
          <li><a href="{{ site.baseurl }}/about/"><i class="icon-user mobile"></i>About</a></li>
        </ul>
      </nav>

      <main>
        {{ content }}
        <hr>
        {% if page.date == "" or page.date == nil %}
          {% if page.url != "/about/" %}
            {% include pagination.html %}
          {% endif %}
        {% endif %}
      </main>

      <footer class="footer">
      </footer>
    </div>
  </body>
</html>
